# used for traefik proxy, it's okay to leave it as is
TRAEFIK_TAG=traefik-public
# stack name, used for traefik, it's okay to leave it as is
STACK_NAME=autogpt
# base url for the app, ie: /autogpt
BASE_URL=
