node_modules
*.log*
.nuxt
.nitro
.cache
.output
config.json
.env
env-*.env
dist

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.vscode

# .idea should not be in git
.idea/
workspaces/
logs/
/plugins/

gpt-tuner/
db/*.json
autogpt
