SESSION_COOKIE=sessionId
SESSION_API_URL=http://localhost
SESSION_API_USER_PATH=/user
SESSION_API_SESSION_PATH=/session
# Path to workspaces directory, default value is used in docker environment
WORKSPACES_DIR=/workspaces
# Path to python binary if run outside Docker
PYTHON_BINARY=python3
# Tail logs for this much rows for the UI
TAIL_LOG_COUNT=5000
# Max size for a workspace file to upload, 5MiB by default
MAX_WORKSPACE_FILE_SIZE=5242880
# Max size for a cache file before it gets truncates, 5MiB by default
MAX_CACHE_SIZE=5242880
# Used only if Auth is disabled
OPENAI_LOCAL_KEY=
# Add execute_code command to auto-gpt, don't use in production
ALLOW_CODE_EXECUTION=0
# Allow shell commands execution
EXECUTE_LOCAL_COMMANDS=0
# Disable specific shell commands
DENY_COMMANDS=
# Allow only These shell commands
ALLOW_COMMANDS=
# Database URL, ie: mysql://user:password@mysql:3306/auto_gpt_ui
DATABASE_URL=
REDIS_URL=redis://redis:6379/0
