TESTING=0
SESSION_COOKIE=sessionId
SESSION_API_URL=http://localhost
SESSION_API_USER_PATH=/user
SESSION_API_SESSION_PATH=/session
# Path to workspaces directory, default value is used in docker environment
WORKSPACES_DIR=/workspaces
# Path to plugins directory used in Auto-GPT
PLUGINS_DIR=/plugins
# Path to python binary if run outside Docker
PYTHON_BINARY=python
# Tail logs for this much rows for the UI
TAIL_LOG_COUNT=5000
# Max size for a workspace file to upload, 5MiB by default
MAX_WORKSPACE_FILE_SIZE=5242880
# Max size for a cache file before it gets truncates, 5MiB by default
MAX_CACHE_SIZE=5242880
# Used only if Auth is disabled
OPENAI_LOCAL_KEY=
# Allow shell commands execution
EXECUTE_LOCAL_COMMANDS=0
# Disable specific Auto-GPT command categories
DISABLED_COMMAND_CATEGORIES=autogpt.commands.execute_code
# Disable specific shell commands
DENY_COMMANDS=
# Allow only These shell commands
ALLOW_COMMANDS=
# Allow only These plugins, one of: AutoGPTSceneXPlugin, AutoGPTTwitter, AutoGPTEmailPlugin, AutoGPT_Slack, PlannerPlugin, AutoGPTApiTools, AutoGPT_YouTube
ALLOWLISTED_PLUGINS=
# Database URL, ie: mysql://user:password@localhost:3306/auto_gpt_ui
DATABASE_URL=
REDIS_URL=redis://redis:6379/0
# For Email plugin
EMAIL_ADDRESS=
EMAIL_PASSWORD=
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=587
EMAIL_IMAP_SERVER=
EMAIL_MARK_AS_SEEN=0
EMAIL_SIGNATURE=This was sent by Auto-GPT
EMAIL_DRAFT_MODE_WITH_FOLDER=[Gmail]/Drafts
# For Twitter plugin
TW_CONSUMER_KEY=
TW_CONSUMER_SECRET=
TW_ACCESS_TOKEN=
TW_ACCESS_TOKEN_SECRET=
TW_CLIENT_ID=
TW_CLIENT_ID_SECRET=
# For SceneX plugin
SCENEX_API_KEY=
# For Slack plugin
SLACK_BOT_TOKEN=
SLACK_CHANNEL=
# For Youtube plugin
YOUTUBE_API_KEY=
